/** ooui button progressive */
body.mediawiki #column-content .oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button {
	background-color: var(--tlp-main-color);
	border-color: var(--tlp-main-color);
}

body.mediawiki #column-content .oo-ui-inputWidget-input:focus {
	border-color: var(--tlp-main-color);
	box-shadow: inset 0 0 0 1px var(--tlp-main-color);
}
#column-content .oo-ui-checkboxInputWidget.oo-ui-widget-enabled [type='checkbox']:checked + span {
	background-color: var(--tlp-main-color);
	border-color: var(--tlp-main-color);
}