:root{
	--tlp-font-family: system-ui, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--tlp-font-family-mono: menlo, monaco, consolas, "Courier New", monospace;
	--tlp-info-color: #1aacd8;
	--tlp-info-dark-color: #007699;
	--tlp-success-color: #1aa350;
	--tlp-success-dark-color: #007b4f;
	--tlp-warning-color: #e2a300;
	--tlp-warning-dark-color: #996200;
	--tlp-danger-color: #e04b4b;
	--tlp-danger-dark-color: #c72b2b;
	--tlp-dimmed-color: #717171;
	--tlp-white-color: #ffffff;
	--tlp-main-color: #f57c13;
	--tlp-dark-color: #282621;
	--tlp-background-color: #f5f6f7;
	--tlp-main-color-hover-background: #fef6ee;
	--tlp-fade-background-color: #fafbfb;
	--tlp-typo-default-text-color: #282621;
	--tlp-table-row-background-odd: #ffffff;
	--tlp-table-row-background-even: #fafbfb;
	--tlp-backdrop-color: rgba(0, 0, 0, .5);
	--tlp-theme-orange: #f57c13;
	--tlp-background-color-lighter-02: #fbfbfc;
	--tlp-background-color-lighter-03: #fefefe;
	--tlp-background-color-lighter-10: #f6f7f8;
	--tlp-background-color-lighter-50: #fafbfb;
	--tlp-background-color-darker-02: #eff1f2;
	--tlp-background-color-darker-05: #e7e9ec;
	--tlp-background-color-darker-10: #d9dde0;
	--tlp-background-color-darker-20: #bcc3ca;
	--tlp-background-color-transparent-50: rgba(245, 246, 247, .5);
	--tlp-fade-background-color-darker-01: #f7f9f9;
	--tlp-fade-background-color-hover-background: #f6f7f8;
	--tlp-fade-background-color-hover-border: #f6f7f8;
	--tlp-main-color-darker-03: #ef740a;
	--tlp-main-color-darker-05: #e56f0a;
	--tlp-main-color-darker-10: #cc6409;
	--tlp-main-color-darker-15: #b45808;
	--tlp-main-color-lighter-15: #f79036;
	--tlp-main-color-lighter-30: #f8a35a;
	--tlp-main-color-lighter-40: #f9b071;
	--tlp-main-color-lighter-50: #fabe89;
	--tlp-main-color-lighter-80: #fde5d0;
	--tlp-main-color-lighter-85: #feebdc;
	--tlp-main-color-lighter-90: #fef2e7;
	--tlp-main-color-transparent-15: rgba(245, 124, 19, .85);
	--tlp-main-color-transparent-20: rgba(245, 124, 19, .8);
	--tlp-main-color-transparent-30: rgba(245, 124, 19, .7);
	--tlp-main-color-transparent-50: rgba(245, 124, 19, .5);
	--tlp-main-color-transparent-70: rgba(245, 124, 19, .3);
	--tlp-main-color-transparent-80: rgba(245, 124, 19, .2);
	--tlp-main-color-transparent-85: rgba(245, 124, 19, .15);
	--tlp-main-color-transparent-90: rgba(245, 124, 19, .1);
	--tlp-info-color-darker-05: #179ac1;
	--tlp-info-color-darker-10: #1588aa;
	--tlp-info-color-darker-30: #0a3f4f;
	--tlp-info-color-lighter-20: #48bde0;
	--tlp-info-color-lighter-30: #5fc5e4;
	--tlp-info-color-lighter-60: #a3deef;
	--tlp-info-color-lighter-35: #6ac9e6;
	--tlp-info-color-lighter-80: #d1eef7;
	--tlp-info-color-lighter-90: #e8f7fb;
	--tlp-info-color-transparent-40: rgba(26, 172, 216, .6);
	--tlp-info-color-transparent-50: rgba(26, 172, 216, .5);
	--tlp-info-color-transparent-80: rgba(26, 172, 216, .2);
	--tlp-info-color-transparent-85: rgba(26, 172, 216, .15);
	--tlp-info-color-transparent-90: rgba(26, 172, 216, .1);
	--tlp-warning-color-darker-05: #c99100;
	--tlp-warning-color-darker-10: #af7e00;
	--tlp-warning-color-lighter-07: #fdf9ed;
	--tlp-warning-color-lighter-12: #fcf4e0;
	--tlp-warning-color-lighter-15: #e6b126;
	--tlp-warning-color-lighter-20: #e8b533;
	--tlp-warning-color-lighter-30: #ebbf4d;
	--tlp-warning-color-lighter-80: #f9edcc;
	--tlp-warning-color-lighter-90: #fcf6e6;
	--tlp-warning-color-transparent-40: rgba(226, 163, 0, .6);
	--tlp-warning-color-transparent-50: rgba(226, 163, 0, .5);
	--tlp-warning-color-transparent-60: rgba(226, 163, 0, .4);
	--tlp-warning-color-transparent-60-darker-05: rgba(201, 145, 0, .4);
	--tlp-warning-color-transparent-85: rgba(226, 163, 0, .15);
	--tlp-warning-color-transparent-90: rgba(226, 163, 0, .1);
	--tlp-danger-color-darker-05: #dc3535;
	--tlp-danger-color-darker-10: #d42424;
	--tlp-danger-color-lighter-20: #e66f6f;
	--tlp-danger-color-lighter-30: #e98181;
	--tlp-danger-color-lighter-40: #ec9393;
	--tlp-danger-color-lighter-60: #f3b7b7;
	--tlp-danger-color-lighter-80: #f9dbdb;
	--tlp-danger-color-lighter-90: #fceded;
	--tlp-danger-color-transparent-15: rgba(224, 75, 75, .85);
	--tlp-danger-color-transparent-40: rgba(224, 75, 75, .6);
	--tlp-danger-color-transparent-50: rgba(224, 75, 75, .5);
	--tlp-danger-color-transparent-75: rgba(224, 75, 75, .25);
	--tlp-danger-color-transparent-85: rgba(224, 75, 75, .15);
	--tlp-danger-color-transparent-90: rgba(224, 75, 75, .1);
	--tlp-success-color-darker-05: #168d45;
	--tlp-success-color-darker-10: #13773a;
	--tlp-success-color-lighter-15: #3cb16a;
	--tlp-success-color-lighter-20: #48b573;
	--tlp-success-color-lighter-30: #5fbf85;
	--tlp-success-color-lighter-35: #6ac38d;
	--tlp-success-color-lighter-60: #a3dab9;
	--tlp-success-color-lighter-80: #d1eddc;
	--tlp-success-color-lighter-90: #e8f6ee;
	--tlp-success-color-transparent-40: rgba(26, 163, 80, .6);
	--tlp-success-color-transparent-50: rgba(26, 163, 80, .5);
	--tlp-success-color-transparent-85: rgba(26, 163, 80, .15);
	--tlp-success-color-transparent-90: rgba(26, 163, 80, .1);
	--tlp-success-color-transparent-95: rgba(26, 163, 80, .05);
	--tlp-dimmed-color-darker-10: #585858;
	--tlp-dimmed-color-lighter-30: #9c9c9c;
	--tlp-dimmed-color-lighter-50: #b8b8b8;
	--tlp-dimmed-color-lighter-70: #d4d4d4;
	--tlp-dimmed-color-lighter-95: #f8f8f8;
	--tlp-dimmed-color-transparent-50: rgba(113, 113, 113, .5);
	--tlp-dimmed-color-transparent-90: rgba(113, 113, 113, .1);
	--tlp-white-color-darker-02: #fafafa;
	--tlp-white-color-darker-10: #e6e6e6;
	--tlp-white-color-transparent-10: rgba(255, 255, 255, .9);
	--tlp-white-color-transparent-20: rgba(255, 255, 255, .8);
	--tlp-white-color-transparent-30: rgba(255, 255, 255, .7);
	--tlp-white-color-transparent-40: rgba(255, 255, 255, .6);
	--tlp-white-color-transparent-80: rgba(255, 255, 255, .2);
	--tlp-alert-danger-background: #fae4e4;
	--tlp-alert-danger-color: var(--tlp-danger-dark-color);
	--tlp-alert-danger-shadow: 0 2px 3px rgba(199, 43, 43, .03), 0 1px 0 rgba(224, 75, 75, .09);
	--tlp-alert-danger-border: 5px solid var(--tlp-danger-color);
	--tlp-alert-info-background: #ddf3f9;
	--tlp-alert-info-color: var(--tlp-info-dark-color);
	--tlp-alert-info-shadow: 0 2px 3px rgba(0, 118, 153, .03), 0 1px 0 rgba(26, 172, 216, .09);
	--tlp-alert-info-border: 5px solid var(--tlp-info-color);
	--tlp-alert-success-background: #ddf1e5;
	--tlp-alert-success-color: var(--tlp-success-dark-color);
	--tlp-alert-success-shadow: 0 2px 3px rgba(0, 123, 79, .03), 0 1px 0 rgba(26, 163, 80, .09);
	--tlp-alert-success-border: 5px solid var(--tlp-success-color);
	--tlp-alert-warning-background: #fbf1d9;
	--tlp-alert-warning-color: var(--tlp-warning-dark-color);
	--tlp-alert-warning-shadow: 0 2px 3px rgba(153, 98, 0, .03), 0 1px 0 rgba(226, 163, 0, .09);
	--tlp-alert-warning-border: 5px solid var(--tlp-warning-color);
	--tlp-badge-danger-background: #fae4e4;
	--tlp-badge-info-background: #ddf3f9;
	--tlp-badge-success-background: #ddf1e5;
	--tlp-badge-warning-background: #fbf1d9;
	--tlp-danger-color-on-dark-background: #e56666;
	--tlp-dimmed-color-on-dark-background: #d5d8dc;
	--tlp-main-color-on-dark-background: #f9b275;
	--tlp-dark-color-transparent-30: rgba(40, 38, 33, .7);
	--tlp-dark-color-transparent-50: rgba(40, 38, 33, .5);
	--tlp-dark-color-transparent-70: rgba(40, 38, 33, .3);
	--tlp-dark-color-transparent-85: rgba(40, 38, 33, .15);
	--tlp-dark-color-transparent-90: rgba(40, 38, 33, .1);
	--tlp-dark-color-darker-05: #26241f;
	--tlp-dark-color-darker-10: #24221e;
	--tlp-dark-color-darker-20: #201e1a;
	--tlp-dark-color-lighter-05: #34312b;
	--tlp-dark-color-lighter-10: #403d35;
	--tlp-dark-color-lighter-90: #ebeae7;
	--tlp-typo-default-text-color-on-dark-background: #e5e7f0;
	--tlp-neutral-light-color: #f2f2f2;
	--tlp-neutral-normal-color: #e5e7f0;
	--tlp-neutral-dark-color: #d5d8dc;
	--tlp-neutral-normal-color-lighter-40: #eff1f6;
	--tlp-neutral-normal-color-transparent-25: rgba(229, 231, 240, .75);
	--tlp-neutral-normal-color-transparent-50: rgba(229, 231, 240, .5);
	--tlp-neutral-normal-color-transparent-80: rgba(229, 231, 240, .2);
	--tlp-neutral-dark-color-lighter-20: #dde0e3;
	--tlp-neutral-dark-color-darker-05: #c7cbd0;
	--tlp-neutral-dark-color-darker-10: #b9bec5;
	--tlp-neutral-dark-color-darker-20: #9da4ae;
	--tlp-neutral-dark-color-transparent-20: rgba(213, 216, 220, .8);
	--tlp-neutral-dark-color-transparent-40: rgba(213, 216, 220, .6);
	--tlp-neutral-dark-color-transparent-50: rgba(213, 216, 220, .5);
	--tlp-neutral-light-color-darker-05: #e5e5e5;
	--tlp-neutral-light-color-darker-10: #d9d9d9;
	--tlp-neutral-light-color-lighter-30: #f6f6f6;
	--tlp-neutral-light-color-lighter-40: #f7f7f7;
	--tlp-neutral-light-color-transparent-40: rgba(242, 242, 242, .6);
	--tlp-is-condensed: 0;
	--tlp-title-spacing: 30px;
	--tlp-small-spacing: 8px;
	--tlp-medium-spacing: 16px;
	--tlp-large-spacing: 24px;
	--tlp-x-large-spacing: 32px;
	--tlp-jumbo-spacing: 48px;
	--tlp-illustration-main-color: #faba82;
	--tlp-illustration-grey-on-background: #f3efec;
	--tlp-illustration-grey-on-white: #fffbf8;
	--tlp-illustration-yellow: #fbe484;
	--tlp-illustration-red: #faaaa5;
	--tlp-illustration-green: #b8daaf;
	--tlp-legacy-illustration-primary-color: #ffb87b;
	--tlp-legacy-illustration-secondary-dark-color: #fcd2ad;
	--tlp-legacy-illustration-secondary-light-color: #fdefe4;
	--tlp-legacy-illustration-tertiary-color: #f8e2d0;
	--tlp-skeleton-color: rgba(113, 113, 113, .15);
	--tlp-skeleton-highlight-color: rgba(113, 113, 113, .03);
	--tlp-modal-shadow: 0 15px 35px 0 rgba(40, 38, 33, .25), 0 5px 15px 0 rgba(40, 38, 33, .07);
	--tlp-flyover-shadow: 0 0 0 1px rgba(40, 38, 33, .07), 0 15px 35px 0 rgba(40, 38, 33, .1), 0 5px 15px 0 rgb(0 0 0 / 8%);
	--tlp-flyover-shadow-above: 0 0 0 1px rgba(40, 38, 33, .07), 0 0 20px 0 rgba(40, 38, 33, .1), 0 -3px 15px 0 rgb(0 0 0 / 8%);
	--tlp-pane-shadow: 0 3px 4px rgba(40, 38, 33, .03);
	--tlp-card-shadow: 0 3px 4px rgba(40, 38, 33, .03), 0 1px 0 rgba(229, 231, 240, .75), 0 0 0 1px rgba(40, 38, 33, .05);
	--tlp-sticky-header-shadow: 0 2px 3px var(--tlp-dark-color-transparent-90);--tlp-sticky-footer-shadow: 0 -2px 3px var(--tlp-dark-color-transparent-90);--tlp-button-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 1px 2px rgb(0 0 0 / 10%), 0 -.5px 0 rgb(0 0 0 / 3%);
	--tlp-button-shadow-hover: 0 1px 1px rgb(0 0 0 / 8%), 0 0 1px rgb(0 0 0 / 8%), 0 -1px 0 rgb(0 0 0 / 3%);
	--tlp-shadow-focus: 0 0 0 2px rgba(245, 124, 19, .35);
	--tlp-small-radius: 3px;
	--tlp-medium-radius: 4px;
	--tlp-large-radius: 6px;
	--tlp-x-large-radius: 8px;
	--tlp-sidebar-action-background: rgb(255 255 255 / 25%);
	--tlp-sidebar-action-background-hover: rgb(255 255 255 / 35%)}