
{{{html-headelement}}}
{{html-site-notice}}
<div class="row content-container">

<tuleap-project-sidebar config="{{tuleap-project-sidebar-config}}" {{#tuleap-project-sidebar-collapsed}}collapsed{{/tuleap-project-sidebar-collapsed}}></tuleap-project-sidebar>

<div class="main-container">
<div class="fixed-container">
	<div class="mw-tlp-dropdown">
	<button role="button" class="mw-tlp-fixed-btn mw-tlp-dropdown-btn {{#personal-class}}{{.}}{{/personal-class}}">{{msg-tlp-personal-menu-text}}</button>
	<div class="mw-tlp-skin-btn-dropdown-menu">
		<ul>
		{{{personal-tools}}}
		</ul>
	</div>
	</div>
</div>
<div class="navbar">
	<div class="row">
		<nav>
			<div class="mw-tlp-dropdown mw-tlp-breadcrumb {{#breadcrumb-class}}{{.}}{{/breadcrumb-class}}">
				<div class="mw-tlp-dropdown-split-btn">
					<a role="button" class="mw-tlp-skin-btn mw-tlp-skin-btn-secondary mw-tlp-dropdown-split-btn-main" href="{{main-menu-href}}">{{msg-tlp-main-menu-title}}</a>
					<button role="button" class="mw-tlp-skin-btn mw-tlp-skin-btn-secondary mw-tlp-dropdown-split-btn-caret mw-tlp-dropdown-btn" ></button>
				</div>
				<div class="mw-tlp-skin-btn-dropdown-menu">
					<ul>
						{{#sidebar}}
							<li><a id="{{id}}" href="{{href}}">{{text}}</a></li>
						{{/sidebar}}
						</ul>
				</div>
			</div>
		</nav>
	</div>
</div>
<div id="main-content" class="content">
	<div id="tlp-content" class="mw-body-primary" role="main">
		<div class="title-section">
			<h1 id="firstHeading" class="firstHeading" lang="en"><span dir="auto">{{html-title}}</span></h1>
			<div class="title-section-actions">
				<div class="mw-tlp-dropdown title-section-spacer">
				<div class="mw-tlp-dropdown-split-btn">
					{{#editaction}}
						<a id="{{id}}" role="button" class="mw-tlp-skin-btn mw-tlp-skin-btn-primary mw-tlp-dropdown-split-btn-main" href="{{href}}">{{text}}</a>
					{{/editaction}}
					<button role="button" class="mw-tlp-skin-btn mw-tlp-skin-btn-primary mw-tlp-dropdown-split-btn-caret mw-tlp-dropdown-btn {{#action-class}}{{.}}{{/action-class}}" ></button>
				</div>
				<div class="mw-tlp-skin-btn-dropdown-menu">
					<ul>
						{{{actions}}}
					</ul>
				</div>
			</div>
				<div class="mw-tlp-dropdown title-section-spacer">
					<button role="button" class="mw-tlp-skin-btn mw-tlp-skin-btn-secondary mw-tlp-dropdown-btn mw-tlp-dropdown-marker {{#tools-class}}{{.}}{{/tools-class}}">{{msg-tlp-tools-menu-title}}</button>
					<div class="mw-tlp-skin-btn-dropdown-menu">
						<ul>
							{{{toolbox}}}
						</ul>
					</div>
				</div>

				<div class="title-section-actions-spacer"></div>
				{{#data-search-box}}
				<div class="mw-tlp-search {{#mw-tlp-search-class}}{{.}}{{/mw-tlp-search-class}}">
					<form action="{{form-action}}" role="search" class="mw-portlet" id="p-search">
						<input type="hidden" name="title" value="{{page-title}}">
						{{{html-input}}}
					</form>
				</div>
				{{/data-search-box}}
			</div>
		</div>

		<div id="content" class="mw-body">
			<div id="siteSub"></div>
			<div id="contentSub">{{{html-subtitle}}}</div>
			<div id="contentSub2">{{{html-undelete-link}}}</div>
			<!-- start content -->
			{{{html-body-content}}}
			{{html-after-content}}

			<div class="printfooter">
				{{{html-categories}}}
			</div>
		</div>
	<div class="content-end-spacer"></div>
	</div>

</div>