/* fonts */
body.mediawiki {
	margin: 0;
	font-family: var( --tlp-font-family );
	overflow-x: hidden;
}

/* stylelint-disable declaration-property-unit-disallowed-list */
#mw-content-text {
	font-family: var( --tlp-font-family );
	font-size: 14px;
	line-height: 1.5;
}
/* stylelint-enable declaration-property-unit-disallowed-list */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var( --tlp-font-family );
	color: var( --tlp-dark-color );
	text-rendering: optimizelegibility;
}

/* stylelint-disable declaration-property-unit-disallowed-list, declaration-property-value-disallowed-list */
h1#firstHeading.firstHeading {
	font-family: var( --tlp-font-family );
	margin: var( --tlp-small-spacing ) var( --tlp-medium-spacing ) 0 0;
	font-size: 36px;
	font-weight: 600;
	line-height: 50px;
	border-bottom: none;
	width: auto;
}
/* stylelint-enable declaration-property-unit-disallowed-list, declaration-property-value-disallowed-list */

.mw-editfont-monospace {
	font-family: var( --tlp-font-family-mono );
}

/* coloring */
a,
a:visited {
	color: var( --tlp-main-color );
}

#mw-content-text a {
	color: var( --tlp-main-color );
}

#mw-content-text .mw-editsection a {
	color: var( --tlp-dark-color-lighter-10 );
}

#mw-content-text a:hover {
	text-decoration: underline;
}

#mw-content-text .mw-editsection a:hover {
	color: var( --tlp-main-color );
}

#mw-content-text p {
	color: var( --tlp-dark-color );
}

.navbar-container a.new {
	color: var( --tlp-danger-dark-color );
}

#mw-content-text a.new {
	color: var( --tlp-danger-dark-color );
}

pre,
.mw-code,
code {
	color: var( --tlp-dark-color );
	font-family: var( --tlp-font-family-mono );
}

blockquote {
	border-left: 5px solid var( --tlp-main-color );
	padding: var( --tlp-small-spacing );
	background-color: var( --tlp-background-color );
}
