.navbar {
	background-color: var( --tlp-background-color );
	display: flex;
	padding: var(--tlp-medium-spacing) var(--tlp-medium-spacing) 0;
}

.navbar > .row {
	display: flex;
	align-items: center;
}

.row > nav{
	display: flex;
}
.navbar .mw-tlp-skin-btn-dropdown-menu {
	min-width: 100%;
}

.mw-tlp-separator {
	margin: var(--tlp-small-spacing) 0;
	border-top: 1px solid var(--tlp-neutral-light-color);
}

.mw-tlp-breadcrumb .mw-tlp-skin-btn-secondary {
	font-weight: 600;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border-color: transparent;
	box-shadow: none;
}
.mw-tlp-breadcrumb .mw-tlp-dropdown-split-btn .mw-tlp-dropdown-split-btn-main{
	padding: 0;
}
.mw-tlp-breadcrumb .mw-tlp-dropdown-split-btn .mw-tlp-dropdown-split-btn-caret {
	padding: 0 var(--tlp-small-spacing);
}
.mw-tlp-breadcrumb.hidden{
	display: none;
}