.title-section {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: var(--tlp-large-spacing) var(--tlp-medium-spacing) var(--tlp-title-spacing);
}

.title-section-spacer {
	margin: 0 var(--tlp-small-spacing);
}

.mw-tlp-dropdown {
	display: inline-block;
	position: relative;
}

.mw-tlp-skin-btn-primary {
	border-color: var(--tlp-main-color);
	background: var(--tlp-main-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	padding: 0 var(--tlp-medium-spacing);
	overflow: hidden;
	transition: box-shadow 75ms ease-in-out,background 75ms ease-in-out,border-color 75ms ease-in-out;
	border: 1px solid transparent;
	border-radius: var(--tlp-medium-radius);
	box-shadow: var(--tlp-button-shadow);
	color: var(--tlp-white-color);
	font-family: var(--tlp-font-family);
	font-size: .875rem;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 1.5rem;
	text-decoration: none;
	text-overflow: ellipsis;
	text-transform: none;
	vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
	position: relative;
}

.mw-tlp-skin-btn-primary:hover {
	border-color: var(--tlp-main-color-darker-05);
	background: var(--tlp-main-color-darker-05);
}

.mw-tlp-dropdown:hover > .mw-tlp-skin-btn-dropdown-menu {
	visibility: visible;
	pointer-events: auto;
}

.title-section-actions {
	display: flex;
	flex: 1 1 auto;
	align-items: center;
}

.mw-tlp-search {
	float: right;
}

.title-section-actions-spacer {
	flex: 1 1 auto;
	min-width: var(--tlp-medium-spacing);
}
#p-search input[type="search"] {
	height: 32px;
	padding: 0 10px 0 26px;
	border-radius: 16px;
	border: 1px solid var(--tlp-neutral-dark-color-darker-05);
	background-color: var(--tlp-white-color);
	background-position: 10px center;
	font-size: .8125rem;
	font-family: var(--tlp-font-family);
}
#p-search input[type="search"]:focus, #p-search input[type="search"]:active, #p-search input[type="search"]:focus-visible {
	transition: border-color .15s linear,box-shadow .35s;
	border-color: var(--tlp-main-color);
	box-shadow: var(--tlp-shadow-focus);
	outline: 0;
}