.title-section {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: var(--tlp-large-spacing) 0 var(--tlp-title-spacing) var(--tlp-medium-spacing);
}

.title-section-spacer {
	margin: 0 var(--tlp-small-spacing);
}



.title-section-actions {
	display: flex;
	flex: 1 1 auto;
	align-items: center;
}

.mw-tlp-search {
	float: right;
	padding: 0 var(--tlp-medium-spacing) 0 0;
}

.title-section-actions-spacer {
	flex: 1 1 auto;
	min-width: var(--tlp-medium-spacing);
}
#p-search input[type="search"] {
	height: 32px;
	padding: 0 10px 0 26px;
	border-radius: 16px;
	border: 1px solid var(--tlp-neutral-dark-color-darker-05);
	background: no-repeat 2% 50% url(../../images/search.svg);
	background-color: var(--tlp-white-color);
	font-size: .8125rem;
	font-family: var(--tlp-font-family);
}
#p-search input[type="search"]:focus, #p-search input[type="search"]:active, #p-search input[type="search"]:focus-visible {
	transition: border-color .15s linear,box-shadow .35s;
	border-color: var(--tlp-main-color);
	box-shadow: var(--tlp-shadow-focus);
	outline: 0;
}

.title-section h1 {
	padding: 0;
}